#p1{
    width: 100px;
    background-color: pink;
    font-size: 85px;
    text-align: center;
    margin: 0px;

    /* animation: myFont;
    animation-duration: 5s;
    /* iteration: repeat */
    /* animation-iteration-count: infinite; */ 

}

/* you can set animation inside pseudo code */
#p1:hover{
    animation: myFont;
    animation-duration: 5s;
    /* iteration: repeat */
    animation-iteration-count: infinite;
}



/*  
transform: 
X: right
Y: up and down
*/

/* 
matrix(scaleX, skewY, skewX, scaleY, translateX, translateY)
 */


 /* you can define the effect of animation, from the beggining to the end*/
@keyframes myColorAnimation{
    0%{background-color: pink;}
    20%{background-color: purple;}
    40%{background-color: rebeccapurple;}
    60%{background-color: seagreen;}
    80%{background-color: sienna;}
    100%{background-color: slateblue;}
}

@keyframes myRotateAnimation {
    /* 100%{transform: rotateX(360deg);} */
    /* 100%{transform: rotateY(360deg);} */
    /* 100%{transform: rotateZ(360deg);} */
}


@keyframes myTranslate {
    50%{transform: translate(0, 100px);}
}


@keyframes myScale {
    50%{transform: scale(4,2);}
}

@keyframes myOpacity {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}    
}

@keyframes myFont {
    0%{font-size: 85px;}
    50%{font-size: 400px;}
    100%{font-size: 85px;}
}

