/* margins: space between html elements and also between the edge of webpage */

html{
    margin-top: -21px;
    margin-left: -8px;
}

h1{
    border: solid;
}

p{
    border: solid;
    width: 250px;
    padding: 25px;
    margin: 25px;
}

#p1{
    margin: 25px;
}

#p2{
    margin: 25px 60px 25px 60px;
}

#p3{
    /* margin: 20%; */
}

/* this pharagraph will be stick to the right side */
#p4{
    margin-left: auto;
}

/* this pharagraph will be stick to the left side */
#p5{
    margin-right: auto;
}

/* this pharagraph will be stick to the center */
#p6{
    margin: auto;
}