h1{
    color: #ff21a3;
}

a:link{
    color: aqua;
}
/* set the condition when you already visited the link */
a:visited{
    color: #e89eff;
}

button{
    background-color: #c90a3d;
    border-color: #c90a3d;
    color: white;
}

button:hover{
    background-color: #ff366b;
    color: white;
}

/* active: when you press the button */
button:active{
    background-color: #ff245e;
}


/* apply css for the selected items of the list*/
li:first-child{
    background-color: pink;
}

li:last-child{
    background-color: pink;
}

li:nth-child(5){
    background-color: pink;
}

/* 
li:nth-child(odd){
    background-color: purple;
}

li:nth-child(even){
    background-color: palevioletred;
} */



/*  li:nth-child(an+b)
a= cycle size
n= counter (start at 0)
b= offset value 
ex) 2n+1: 2*0+1=1, 2*1+1=3, 2*2+1=5 --> background-color will be applied for 1,3,5 items.*/
li:nth-child(3n+1){
    background-color: red;
    background-image: linear-gradient(to right, red, white);
    /* opacity: set transparency 0 to 1 */
    opacity: 0.8;
}